*{
    border: 0px;
    box-sizing: border-box;
    color: white;
    /* background-color: rgb(29, 29, 29); */
    /* font-family: sans-serif; */
}

body
{
    background-image: url(parsley-spices-near-raw-fish_23-2147753652.jpg);
    background-size: cover;
    backdrop-filter: blur(1px);
}

.card1container{
    position: absolute;
    top: 110px;
    left: 180px;
   
}

.card1container h1{

    position: absolute;
    top:-110px;
    left: -150px;
    letter-spacing: 5px;
    font-family: serif;
    font-weight: 900;

    font-size: 50px;

    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(215deg, #fd0101, black);


}

.card1{

    width: 900px;
    height: 50px;
    background-color: rgba(29, 29, 29, 0.733);
    box-shadow: 4px 4px 7px rgb(10, 10, 10),
     -4px -4px 7px  rgb(51, 51, 51);
     border-radius: 10px;
   

}

.card2{
    width: 900px;
    height: 400px;
    background-color: rgba(29, 29, 29, 0.788);
    box-shadow: 4px 4px 7px rgb(10, 10, 10),
     -4px -4px 7px  rgb(51, 51, 51);
     border-radius: 10px;
     position: relative;
     top: 50px;
}

.c1{
    position: absolute;
    background-color: gray;
    height: 400px;
    width: 1px;
    left: 180px;
    text-align: center;

    
}


.c2{
    position: absolute;
    background-color: gray;
    height: 400px;
    width: 1px;
    left: 360px;
    text-align: center;
   
    
}


.c3{
    position: absolute;
    background-color: gray;
    height: 400px;
    width: 1px;
    left: 540px;
   
}


.c4{
    position: absolute;
    background-color: gray;
    height: 400px;
    width: 1px;
    left: 720px;

    

    
}

.cr1{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 1px;
    left: 180px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.cr2{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 1px;
    left: 360px;
  
    
}


.cr3{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 1px;
    left: 540px;

}

.cr4{
    position: absolute;
    background-color: gray;
    height: 50px;
    width: 1px;
    left: 720px;
 
    
}

.week{
    position: absolute;
    color: red;
    left: -130px;
    top: 5px;
    font-size: 25px;

    
}

.lunchtime{

    position: absolute;
    color: red;
    left: -155px;
    top: 5px;
    font-size: 25px;

}

.breakfasttime{

    position: absolute;
    color: red;
    left: -150px;
    top: 5px;
    font-size: 25px;

}

.snacktime{
    position: absolute;
    color: red;
    left: -150px;
    top: 5px;
    font-size: 25px;
}


.dinnertime{
    position: absolute;
    color: red;
    right: 30px;
    top: 5px;
    font-size: 25px;
}

.days {
    position: absolute;
    left: -170px;
    top: 45px;
  color: #969ba0;

}

h2{
    color: #969ba0;
}
.breakfast{
    position: absolute;
    left: -170px;
    top: 50px;
  
}

input{
    color: #969ba0;
    outline: none;
    border: none;
    border-radius: 0 15px 0  15px;
    width: 160px;
    height: 48.5px;
    display: block;
    font-family: serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
   line-height: 10px;
   background-color:transparent;
}


.lunch{
    position: absolute;
    left: -170px;
    top: 50px;  
    
}

.snack{
    position: absolute;
    left: -170px;
    top: 50px;   
}

.dinner{
    position: absolute;
    right: 10px;
    top: 50px;   
}

.card1 input{
    position: absolute;
    left: 5px;
    color: green;
}


.today{
  position: absolute;
  left: 35px;
  top: -10px;
  color: green;
}

.btn{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 50px;
    box-shadow: 4px 4px 7px rgb(10, 10, 10),
    -4px -4px 7px  rgb(51, 51, 51);
    border-radius: 10px;
    position: absolute;
    background-color: rgb(29, 29, 29);

    text-decoration: none;
    font-weight: 900;

    color:rgba(194, 16, 16, 0.733);
   /* -webkit-background-clip: text; */
   /* background-image: linear-gradient(to left, #f70404, #f70909);    */
   letter-spacing: 5px;
   /* font-weight: 900; */
}


.btn:active{
    width: 130px;
    height: 50px;
    box-shadow: 4px 4px 7px rgb(51, 51, 51),
    -4px -4px 7px  rgb(10, 10, 10) ;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(29, 29, 29);
    
    color: transparent;
   -webkit-background-clip: text;
   background-image: linear-gradient(to left, #c20a0a, #000000);   
   letter-spacing: 5px;
   font-weight: 900;
   

}

button{
    background-color: rgb(29, 29, 29);
}

.bac{
    position:absolute;
    /* visibility: hidden; */
    top:100px;
    
}

.baln{
    position: absolute;
    right: -50px;
    top: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.ualn{
    position: absolute;
    right: -50px;
    top: 200px;
}

.fa{
    height:180px;
    font-size: 60px;
    color: transparent;
   -webkit-background-clip: text;
    background-image: linear-gradient(to left, #c20a0a, #000000);
    transform:rotate(20deg);
} 

